<div class='d-flex flex-wrap justify-content-start align-items-center my-3' style="background-image: url('https://res.cloudinary.com/kinskin/image/upload/v1569604488/foosballbanner_t2owby.jpg'); background-size:cover; width:100%; height:300px; border-radius: 50px;">
				<h1 class='mx-3'style="color:lightcoral;">Foosball Scoreboard</h1>
</div>