<%= form_with scope: :starts, url: teams_path, local: true do |form| %>
		<div style='display: none;'>
				<%= form.hidden_field :start, :value => false %>
		</div>
		<%= form.submit :End, :class => 'btn btn-md btn-outline-success'%>
<% end %>